#login-buttons-image-github{
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wJGBYxHYxl31wAAAHpSURBVDjLpZI/aFNRFMZ/973bJqGRPopV4qNq/+SpTYnWRhCKilShg9BGcHOM+GfQoZuLk4iLgw4qZNBaHLuIdBNHl7Ta1qdNFI3SihnaNG1MpH3vuiQYQnwZvHCG893zffc751z4z6PX5T5gA1DAKnAaOAQEgAfAVeCpl+CeCrlRuEC6maO4h0A1wl4tPAHMqNUthvrDdHYY7A3t4rDVjeO6rBU2FaABM1WCrBNoi48Mi+nH9yj+KtPibAKwJXfQ5vcRG7soUnYmWEuQgAEIYBv4cGpoILI0Z4tyYYPegS6UguyijZQ6J45GSNmZHzUcJYD2ii2Ajv7efZ8WZ6ZwXFj79hXpayW4O0SL1Nl/8jzZlZ9dQLFS70pgvZKIyGD0yvu5eRmMnrk1PjI81ir1qBACTdPevXj95mVuNX8XKDQc/+T334bZZ104cvzYw2s3J3qAL5WXSsDbf61NNMBu+wOBs+VSyQ84Nfhg028ZGx3/qyy0lC7lgi7lghBitoon03lvB8l0/k7Wnk+8mny0cyXzEcfZxgwfZPTyRMHsOzAFXE9YhtNQIJnOx4FpJXT1eSkn2g0frqMoFrfoCXcqlCOAGwnLuO/l4JymcWl5uRxzXUKghBAiZ5r+WaV4lrCM555zqO+x2d0ftGmpiA/0k70AAAAASUVORK5CYII=)}
  body{
    display:block;
    font-family: "proxima-nova", sans-serif;
    background:#f0f4f7;
    padding:0;
    margin:0 auto;
    line-height:2.5em;
  }

  *{
    margin:0;
    padding:0;
    border:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
  }

  html,body{
    height:100%
  }

  header{
    top:0;
    width:100%;
    background:#3779ec;
    height:90px;
    overflow:hidden;
    line-height:90px
  }

  .wrap{
    max-width: 600px; /* change to max-width so it works better on narrowviewports */
    margin:20px auto;
    padding-top:24px;
    min-height: 300px;
  }
  @media (max-width: 660px) {
    margin: 20px 12px;  /* add some margin so it's nice on narrow viewports */
  }

  h1{
    color:#d2e1fb;
    font-weight:400;
    letter-spacing:0px;
    font-size:40px;
    padding-left:24px;
    padding-right: 25px;
    float:left;
    margin-left:40px;
    cursor: pointer;
  }

  .permalink {
    cursor: pointer;
  }

  .permalink.github-existing {
    background: url('/images/octocat.png') no-repeat 6px 50%;
    padding-left: 40px;
  }

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

  input,textarea,button,.login-button,.submitTrigger{
    border:0;
    border-radius:3px;
    padding:10px 20px;
    background:#6698f0;
    cursor:pointer;
    color:#fff;
  }

  input,textarea{
    border-radius:3px;
    width:230px;
    cursor:text
  }

  button{
    cursor:pointer
  }

  .login-button.single-login-button{
    display:inline-block;
    line-height:1.5em
  }

  .intro {
   width: 100%;
   position: relative;
/*   height: 45px;
   line-height: 45px;*/
   /*background: #e2ebfc;*/
   padding: 0 12px;
   text-align: center;
  }

  .intro p {
    font-size: 14px;
    margin-left: 0;
    color: #3779ec;
    padding-bottom: 12px;
  }
  .intro p:first-child {
    padding-top: 12px;
    padding-bottom: 0;
  }
  /* added line height for narrow viewports */
  @media (max-width: 660px) {
    .intro p {
      line-height: 1.68;
    }
  }

  .intro p span {
    font-weight: 800;
    font-size: 16px;
  }

  .intro #login-buttons {
    margin-top: 12px;
  }

  #search {
    margin-left: 24px;
    padding: 10px;
  }

  textarea{
    resize:none;
    height:150px
  }

  input:focus,textarea:focus{
    box-shadow:none;
    border:0;
    outline:0
  }

  .menu{
    float:right;
    padding-right:24px;
    width:275px
  }

  .submitTrigger{
    margin: auto;
    margin-top: 12px;
    font-size:16px;
  }

  .submitForm{
    display:none;
    height: 350px;
    width: 275px;
    background:#6698f0;
    padding:24px;
    border-radius:3px;
    z-index: 10;
    margin: auto;
    margin-top: 24px;
  }

  .submitForm input, .submitForm textarea, .submitForm button, .submitForm .login-button, .submitForm .submitTrigger{
    background:#d2e1fb;
    color: #155ddb;
  }

  .submitForm ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #155ddb;
  }
  .submitForm :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #155ddb;
  }
  .submitForm ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #155ddb;
  }
  .submitForm :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #155ddb;
  }

  #disqus_thread {
    margin-top: 48px;
  }

  #submit{
    display:block;
    margin-top: 24px;
    float: left;
  }

  #cancel {
    float: right;
    margin-top: 24px;
  }

  .content{
    /* removed width: 600px; as it's not needed */
    padding-bottom:60px; /* changed pading bottom so it's not HUGE on narrow viewports */
    margin:20px auto 0 auto;
  }
  @media (min-width: 660px) {
    .content {
      padding-bottom: 60px; /* added the HUGE padding back */
    }
  }

  .innerWrap {

  }

  .entry{
    display: inline-block;
    background: #3779ec;
    border-radius: 3px;
    margin-top: 5px;
  }

  h2{
    color:#33373d;
    font-weight:400;
  }

  .entry h2 {
    color: #dce5f0;
    font-size: 16px;
    padding: 6px 24px;
    line-height: 1.7; /* nicer line height for narrow viewports */
  }

  .entry h2:hover {
    color: #d2e1fb;
  }

  .single h2 {
    margin-bottom: 24px;
  }

  .meta {
    margin-top: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 13px;
  opacity: .8;
  }

  p{
    margin-left:40px;
    color:#33373d
  }

  h3,h4{
    font-weight:400;
    color:#33373d;
  }

  h3, h4{
    text-align:left
  }

  h4{
    font-size: .8em;
  }

  h5{
    text-align:center
  }

  a{
    color: inherit;
    text-decoration: underline;
  }

  footer{
    text-align:center;
    padding-bottom: 24px;
    color: #75a2f2;
  }

  footer p {
    font-size: 13px;
    line-height: 1.65;
    color: #75a2f2;
    margin-left: 0; /* removed margins for narrow viewport */
  }
  
  @media (min-width: 660px;) {
    footer p {
      margin-left: 40px;
    }
  }

  #login-buttons-logout{
    position:absolute;
    top:30px;
    right:10px;
    height:38px;
    padding:10px 20px;
    line-height:18px
  }

  .login-display-name{
    display:none
  }

  .notification{
    position:absolute;
    width:500px;
    height:45px;
    left:50%;
    margin-left:-250px;
    background-color:#dce5f0;
    color:#33373d;
    line-height:45px;
    text-align:center;
    display:none
  }

  #loader {
    display: block;
    margin: 30px auto 20px auto;
    width: 60px;
    height: 60px;
  }


 /*@media only screen and (max-width : 460px){

  .wrap .content{
    width:300px;
    margin:20px auto 0 auto;
  }

  body{
    text-align: left;
    background: #ccc;
  }
}
*/




.intro{
  
/*animation: slidetotheright 2s;
-moz-animation: slidetotheright 2s;
-webkit-animation: slidetotheright 2s;
-o-animation: slidetotheright 2s;*/
}

@-webkit-keyframes slidetotheright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slidetotheright {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes slidetotheright {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes slidetotheright {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

a{
    color: inherit;
    text-decoration: underline;
  }

#search{
  -webkit-transition: width .5s;
    -moz-transition: width .5s;
    transition: width .5s;
}

#search:hover{
  width: 300px;
}

.entryDesc {
line-height: 175%;
}

button a {
  text-decoration: none;
}
